@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');

:root {
  --color-accent: #0290ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

img {
  aspect-ratio: 3/2;
  width: 100%;
}

li {
  list-style: none;
}

/* .nav-bar */
.flexer {
  display: flex;
}

.nav-bar {
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar a.active {
  text-decoration: underline;
}

/* rockets */
td {
  letter-spacing: 0.03em;
  line-height: 26px;
  font-size: 20px;
}

.reserver {
  background-color: #0290ff;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 2%;
  display: inline-flex;
  margin: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.banner {
  background-color: #0290ff;
  padding: 1%;
  color: #fff;
  position: relative;
  display: inline-flex;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
